<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['Servicios']" routerLinkActive="router-link-active" >Nosotros</a>
      <a mat-list-item [routerLink]="['Productos']" routerLinkActive="router-link-active" >Productos</a>
      <a mat-list-item [routerLink]="['Servicios']" routerLinkActive="router-link-active" >Servicios</a>
      <a mat-list-item [routerLink]="['Servicios']" routerLinkActive="router-link-active" >Contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gimnasio H2O</span>
    </mat-toolbar>
    <!-- //Acá debajo van los componentes -->
     <!-- <app-producto></app-producto>  -->
     <router-outlet></router-outlet>
    <!-- <app-service-componente></app-service-componente> -->
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>

