<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']" routerLinkActive="router-link-active" >Nosotros</a>
      <a mat-list-item [routerLink]="['Productos']" routerLinkActive="router-link-active" >Productos</a>
      <a mat-list-item [routerLink]="['Servicios']" routerLinkActive="router-link-active" >Servicios</a>
      <a mat-list-item [routerLink]="['']" routerLinkActive="router-link-active" >Contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gimnasio H2O</span>
      <span class="spacer"></span>
      <span class="navbar-text">
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut" >
          <button class="btn btn-primary" style="float: right; margin-left: 300px;" (click)="auth.logout()">
            Salir
          </button>
        </ng-container>
  
        <ng-template #loggedOut>
          <button class="btn btn-dark" (click)="auth.loginWithRedirect()">Ingresar</button>
        </ng-template>
      </span>

      <!-- <ul *ngIf="auth.user$ | async as user">
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
      </ul> -->

    </mat-toolbar>
    <!-- //Acá debajo van los componentes -->
    
    <div class="container p-4">
      <router-outlet></router-outlet>
    </div> 
    
    <app-footer></app-footer>
    
  </mat-sidenav-content>
</mat-sidenav-container>

