
 <div class="row">
  <div class="col-md-4" *ngFor="let serv of listServiciosarray">
    <div class="card text-center" style="margin-bottom: 20px;">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{serv.nombre}}
        <button class="btn btn-danger" (click)="deleteService(serv.idServ)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="serv.url">
      <div class="card-body">
        <p style="color: black;">{{serv.descripcion}}</p>
        <button class="btn btn-info" (click)="updateService(serv.idServ)">
          Editar
        </button>
      </div>
    </div>
  </div>
 </div>

 <div class="ro">
  <button type="button" class="col-md-12 btn btn-info" routerLink="/AddServicio">Agregar Servicio</button>
 </div>
   
