.card{
    max-width: 400px;
    margin: 0 auto;
   
    
}

.card a{
    text-decoration: none;
}

.card a:link, a:visited{
    color: white;
}
  
.example-header-image{
    background-image: url('https://i.pinimg.com/originals/a1/34/d6/a134d69b63d77dfe1309030d165e2abf.png');
    background-size: cover;
}