<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="image1" >Personal Trainer</mat-grid-tile>
  <mat-grid-tile class="image2">Nutricionista</mat-grid-tile>
  <mat-grid-tile class="image3">Spinning Bike's</mat-grid-tile>
  <mat-grid-tile class="image4">Masajista</mat-grid-tile>
</mat-grid-list>


<!--TRAIGO EN UN ARRAY TODOS LOS SERVICIOS Y LOS PASO A LA VARIABLE SERV-->
<tbody>
  <tr *ngFor="let servi of listServiciosarray">
    <!--TENEMOS QUE PONER LOS CAMPOS COMO EN LA BD, CONEXION IGUAL A C#-->
    <td>{{servi.idServ}}</td>
    <td>{{servi.nombre}}</td>
    <td>{{servi.estado}}</td>
    <td>{{servi.descripcion}}</td>
    <td>{{servi.precio}}</td>
  </tr>
</tbody>