<div class="row">
  <div class="col-md-12 offset-md-5" style="font-size: 12px; margin-bottom: 20px;">AGREGAR NUEVO SERVICIO</div>
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <input type="text" name="title" [(ngModel)]="serv.nombre" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
              <textarea name="estado" [(ngModel)]="serv.estado" rows="2" placeholder="Estado" class="form-control"></textarea>
            </div>
          <div class="form-group">
            <textarea name="description" [(ngModel)]="serv.descripcion" rows="2" placeholder="Descripción" class="form-control"></textarea>
          </div>
          <div class="form-group">
              <textarea name="precio" [(ngModel)]="serv.precio" rows="2" placeholder="Precio" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <textarea name="url" [(ngModel)]="serv.url" rows="2" placeholder="Url" class="form-control"></textarea>
          </div>
          <!-- <div class="form-group">
            <select name="cat" [(ngModel)]="serv.idCat" rows="2" placeholder="Categoria" class="form-control" (click)="getCategory()"></select>
          </div> -->
          <button class="btn btn-success btn-block" (click)="edit ? saveService() : createService()">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
  

