<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
     
<footer class="site-footer">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>A cerca de VMI</h6>
          <p class="text-justify">VMI es una apicación diseñada para que municipales puedan mantener un control vial y se hagan cumplir las leyes de transito, pudiendo participar policias municipales como transeúntes. Esta idea fue pensada en el año 2020 para evitar y reducir infracciones viales que se producen a diario en la ciudad de Villa María, Córdoba.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Herramientas Utilizadas</h6>
          <ul class="footer-links">
            <li><a href="https://angular.io/" target="_blank">Angular 9</a></li>
            <li><a href="https://nodejs.org/es/" target="_blank">Node JS</a></li>
            <li><a href="https://firebase.google.com/?hl=es" target="_blank">FireBase</a></li>
            <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap v4.5</a></li>
            <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></li>
            <li><a href="https://material.angular.io/" target="_blank">Angular Material</a></li>
            <li><a href="https://codepen.io/" target="_blank">Code Pen</a></li>
            <li><a href="https://www.pexels.com/es-es/" target="_blank">Pexels</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Otros links</h6>
          <ul class="footer-links">
            <!-- <li><a href="https://paypal.me/CodexTech145" target="_blank">Contribuir</a></li> -->
            <!-- <li><a /*[routerLink]="['políticas']"*/>Política de privacidad</a></li> -->
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Todos los derechos reservados por
       <a href="https://codex-tech.000webhostapp.com/">Codex</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <!-- <li><a class="facebook" href="#"><img src="C:\Tesis\VMI\src\img\facebook.png" alt=""></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>    -->
          </ul>
        </div>
      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>